@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 37px;
    height: 37px;
    border: 10px solid #8bd6ff; /* Light grey */
    border-top: 10px solid #00274e; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
