@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("https://www.1001fonts.com/download/font/montserrat.regular.ttf");
}
.textbox{
    height:52.3vh;
    border-radius: 10px;
    text-align: left;
    font-family: Montserrat,'Times New Roman', Times, serif;
    font-size: 18px;
    vertical-align: top;
    padding: 15px;
    width: 60vw;
    
}
.data{
    padding: 10px;
}